.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.card-title {
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
}

.card-img-top {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box {
  font-weight: bold;
}

/* The availability element extends the full width of the card, with a dark grey background and yellow text. */

h5 {
  display: flex;
  justify-content: center;
  width: 112%;
  background-color: darkgray;
  color: yellow;
  margin-left: -15px;
}

.card-text {
  display: flex;
  justify-content: center;
}
